* {
    box-sizing: border-box;
}
body{
background-image: url("../images/dark-grey-terrazzo/dark-grey-terrazzo.png");



}

#head{
  
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
 
  border-bottom: 2px solid #ccc;
}
#logo, .title{
    float: left;
    width: 300px;
    height: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  nav{
      float: right;
      background-color:#4aaaa5;
      font: bolder;
      font-size: 20px;
      height: 50px;
      text-align: center;
      margin-top: 10px;
      padding: 15px;
}

.container{
    
    width: 960px;
    align: center;
    
}

.contact{
    width:20px;
    align-content: center;
}
.title{
    color: #fff;
    background: none;
    font-size: 30px;
}
#TitlePage{
    height: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    

}


  #everything, .portfolio{
      max-width: 960px;
      margin: 0 auto;
  }
 
     
    
   
     
  
  .smallerRaul{
      width: 300px;
      height:300px;
      margin-top: 20px;
      float: left;
      margin:10px;
     
  }

  p, h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
  } 
  
  .portfolio  {
      width: 600px;
  }
   
 
     
  

  footer{
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
  }
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    
    padding: 15px;
  }
  
  
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }